:root{
  --Very-Dark-Magenta: hsl(300, 43%, 22%);
  --Soft-Pink: hsl(333, 80%, 67%);
  --Dark-Grayish-Magenta: hsl(303, 10%, 53%);
  --Light-Grayish-Magenta: hsl(300, 24%, 96%);
  --White: hsl(0, 0%, 100%);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-image: url(images/bg-pattern-top-desktop.svg);
  font-family: 'Spartan', sans-serif;
  font-size: 15px;
}

.container{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: relative;
}

.header-ratings{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  flex-wrap: wrap;
}

.header{
  width: 30%;
}

.title{
  font-size: 2.5rem;
  color: var(--Very-Dark-Magenta);
  text-align: left;
}

.desc{
  font-size: .9rem;
  font-weight: 500;
  line-height: 1.2rem;
  color: var(--Dark-Grayish-Magenta);
  margin-top: 1rem;
}

.ratings{
  width: 35%;
  margin-left: 110px;
}

.rating{
  background-color: var(--Light-Grayish-Magenta);
  width: 85%;
  display: flex;
  flex-wrap: wrap;
  padding: .9rem 1.5rem;
  margin-bottom: .8rem;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.stars{
  margin-right: 1rem;
}

.rating-value{
  font-size: .75rem;
  font-weight: 700;
  color: var(--Very-Dark-Magenta);
  margin-left: .8rem;
}


.rating2{
  margin-left: 2rem;
}

.rating3{
  margin-left: 4rem;
}

.testemonials{
  background-image: url(images/bg-pattern-bottom-desktop.svg);
  width: 78%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 1.5rem;
}

.testemonial{
  background-color: var(--Very-Dark-Magenta);
  border-radius: 8px;
  color: var(--White);
  margin: auto 20px;
  padding: 30px;
}

.agent-intro{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 1rem;
  margin-left: -50px;
}

.avatar{
  width: 12%;
  border-radius: 100%;
  margin-left: -50px;
}

.name-class{
  line-height: 1.2rem;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  margin-left: -175px;
}

.agent-name,
.agent-class{
  font-size: .75rem;
}

.agent-class{
  color: var(--Soft-Pink);
}


.agent-testemonial{
  font-size: .8rem;
  font-weight: 500;
  line-height: 1.2rem;
}

.testemonial1{
  margin-bottom: 2.5rem;
}


.testemonial3{
  margin-top: 2.5rem;
}

.attribution{
  text-align: center;
  font-family: 'Spartan', sans-serif;
  font-size: .7rem;
  font-weight: 500;
  margin:10px;
}

a{
  text-decoration: none;
  color: var(--Very-Dark-Magenta);
}
